---
title: About - Care Response
id: about
---

{{> header }}

<div id="splash">
  <img src="img/splash-about.jpg" alt="Splash">
  <nav class="sub">
    <div class="container">
      <div class="grid-container">
        <div class="grid-50 prefix-5 tablet-grid-55">
          <ul>
            <li><a href="#affiliations"><i class="icon-angle-down"></i> Affiliations</a></li>
          </ul>
        </div>
        <div class="grid-40 suffix-5 tablet-grid-45">
          <ul>
            <li><a href="about.html"{{{selectedClass "about"}}}>About</a></li>
            <li><a href="careers.html"{{{selectedClass "careers"}}}>Careers</a></li>
            <li><a href="contact.html"{{{selectedClass "contact"}}}>Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<section class="side-dots">
  <div class="container">
    <div class="grid-container">
      <div class="grid-45 prefix-5 suffix-5">
        <h1 id="care-provision">About Us</h1>
        <p>Tony and Avis Hart formed Care Response in 1994, since which the business has grown from a small office at the directors’ family home to a centralized hub in <a href="contact.html">Sunninghill High Street</a>.</p>
        <p>By providing reliable and quality care for our <a href="clients.html">clients</a>, we have established a well respected reputation within the surrounding areas and 1 member of staff has increased to 25+ fully trained employees.</p>
        <p>Our care quality and <a href="services.html">service</a> has ensured that in a competitive marketplace, where there is a constant emphasis on cost reduction without compromising quality, we at Care Response have maintained our independent ownership.</p>
        <p>Tony and Avis’ daughter Samantha, her husband Alex, Registered Manager Diane Brown (1998), Training Manager Kim Blyth (1996) and Care Manager Olivia Macleay (2003) ensure the continuation of a family run ethos and a dignity based service.</p>
      </div>
      <aside class="grid-40 suffix-5">
        {{> box-testimonials-2 }}
      </aside>
    </div><!--/.grid-container-->
  </div><!--/.content-->
</section>

<section id="sec-affil" class="grey">
  <div class="container">
    <div class="grid-container">
      <div class="grid-90 prefix-5 suffix-5">
        <h1 id="affiliations">Affiliations</h1>
      </div>
      <div class="grid-45 prefix-5 suffix-5">
        <h2>Care Quality Commission (CQC)</h2>
        <p>When <a href="http://www.cqc.org.uk/">CQC</a>, the independent regulator of Health and Social Care in England, last inspected Care Response (whilst the business was a partnership), we received a high two star quality rating (out of a possible three).</p>
        <p>Care Response Ltd incorporated on April 6th 2007. As a result, our profile will not be updated until the company receives its next inspection.</p>
      </div>
      <div class="grid-40 suffix-5">
        <a href="http://www.cqc.org.uk/"><img src="img/logo-affil-care-quality-commission.png" alt="Care Quailty Commission logo"/></a>
      </div>
    </div><!--/.grid-container-->
    <div class="grid-container">
      <div class="grid-45 prefix-5 suffix-5">
        <h2>Home Care Association (UKHCA)</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut suscipit sagittis arcu. Integer consectetuer mauris posuere arcu. Phasellus molestie sodales massa. Nam sed nisl. Mauris lacus tellus, laoreet at, dictum vitae.</p>
      </div>
      <div class="grid-40 suffix-5">
        <a href="http://www.ukhca.co.uk/"><img src="img/logo-affil-ukhca.png" alt="UKHCA logo"/></a>
      </div>
    </div><!--/.grid-container-->
  </div><!--/.content-->
</section>

{{> footer }}
