---
title: Careers - Care Response
id: careers
---

{{> header }}

<div id="splash">
  <img src="img/proportionator.gif" alt="Splash">
  <nav class="sub">
    <div class="container">
      <div class="grid-container">
        <div class="grid-50 prefix-5 tablet-grid-55">
          <ul>
            <li><a href="#equal-opportunities"><i class="icon-angle-down"></i> Equal opportunities</a></li>
          </ul>
        </div>
        <div class="grid-40 suffix-5 tablet-grid-45">
          <ul>
            <li><a href="about.html"{{{selectedClass "about"}}}>About</a></li>
            <li><a href="careers.html"{{{selectedClass "careers"}}}>Careers</a></li>
            <li><a href="contact.html"{{{selectedClass "contact"}}}>Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<section class="side-dots">
  <div class="container">
    <div class="grid-container">
      <div class="grid-45 prefix-5 suffix-5">
        <h1>Care workers &amp; their duties</h1>
        <p>The main duties for care workers are conducting tasks in a professional manner, that may otherwise be carried out by a close friend or relative, using their training and knowledge to ensure a safe care service.</p>
        <p>Our care workers have to understand the needs of our clients to successfully deliver care. This includes communicating successfully with the office, family, friends and other healthcare professionals. Where necessary, the care worker has a duty to inform the on call supervisor/office of any changes or causes of concern with regard to a client's health and condition.</p>
        <p>All tasks required for a client will be listed in a Care Plan to be followed by the care worker in accordance with our policies and procedures.</p>
        <p>Often care workers are the only person a client will see all day and it is their duty to report any information that is relevant to the supervisor/office, so that family and friends can be notified of any changes to the client's service.</p>
        <p>The role of the care worker demands a great deal both physically and emotionally and carries a large amount of responsibility, with a primary concern for the welfare of others.</p>
        <h2>Job Specification</h2>
        <ol class="dots">
          <li>Good Communication</li>
          <li>Ability to follow instruction</li>
          <li>Genuine care for other people</li>
          <li>Understanding the role of the care worker and what it entails</li>
        </ol>
      </div>
      <div class="grid-40 suffix-5">
        <h2>Desirable skills</h2>
        <ol class="dots">
          <li>Experience in care<br/>(not essential as full training is provided)</li>
          <li>Own means of transport</li>
          <li>Flexibility</li>
        </ol>
        <h2>Care worker tasks</h2>
        <ul class="dots">
          <li>Preparing customers for their day helping them get up, dressed and breakfasted</li>
          <li>Showering, bathing, washing, oral care and grooming</li>
          <li>Toileting, assisting with and emptying the commode</li>
          <li>Continence management</li>
          <li>Using manual handling equipment as specified and trained</li>
          <li>Working with other care professionals such as District Nurses and GPs</li> 
          <li>Assisting with prescribed medication</li>
          <li>Assisting clients at bedtime</li>
          <li>Preparing meals and assistance with feeding</li>
          <li>General household duties</li>
          <li>Laundry</li>
          <li>Shopping</li>
          <li>Accurate recording of care visits</li>
        </ul>
        <h2>Application</h2>
        <p>If the role of a Care Worker appeals to you, please call our office on <a href="tel:01344876099">01344 876099</a></p>
      </div>
    </div><!--/.grid-container-->
  </div><!--/.content-->
</section>

<section id="sec-eq-ops" class="grey">
  <div class="container">
    <div class="grid-container">
      <div class="grid-90 prefix-5 suffix-5">
        <h1 id="equal-opportunities">Equal opportunities</h1>
        <p>The equal opportunities policies aims are to:</p>
        <ul>
          <li>Eliminate discrimination and all forms of harassment</li>
          <li>Ensure consistency in working practice and conditions</li>
          <li>Treat individuals equally with respect for their specific needs</li>
        </ul>
        <p>Care Response Ltd is committed to building an organisation that makes full use of the talents, skills, experience and different cultural perspectives available in a multi-ethnic society, and where people feel they are respected and valued, and can achieve their potential regardless of race, colour, nationality, national or ethnic origins.</p>
        <p>Care Response Ltd will follow the recommendations of the Commission for Racial Equality’s (CRE) statutory Code of Practice on Racial Equality in Employment in all its employment policies, procedures and practices.</p>
        <p>The aims of this policy are to ensure that:</p>
        <ul>
          <li>No one receives less favourable treatment, on grounds of race, colour, nationality, ethnic or national origins, or is disadvantaged by any conditions, requirements, provisions, criteria, procedures or practices that cannot be justified on non-racial grounds, or victimised for taking action against racial discrimination or harassment, or instructed or put under pressure to discriminate against or harass someone on racial grounds...</li>
        </ul>
        <p><a href="#"><i class="icon-eye-open"></i> Read full statement</a></p>
      </div>
    </div><!--/.grid-container-->
  </div><!--/.content-->
</section>

{{> footer }}
