---
title: Clients - Care Response
id: clients
---

{{> header }}

<div id="splash">
  <img src="img/proportionator.gif" alt="Splash">
  <div class="text">
    <div class="container">
      <div class="grid-container">
        <div class="grid-40 prefix-5 tablet-grid-65">
          <blockquote>
            Many thanks for all your help and kindness. With love. x
            <footer>J.J.K.</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div><!--/.text-->
  <nav class="sub">
    <div class="container">
      <div class="grid-container">
        <div class="grid-50 prefix-5 tablet-grid-55">
          <ul>
            <li><a href="#care-provision"><i class="icon-angle-down"></i> Care provision</a></li>
            <li><a href="#care-workers"><i class="icon-angle-down"></i> Care workers</a></li>
          </ul>
        </div>
        <div class="grid-40 suffix-5 tablet-grid-45">
          <ul>
            <li><a href="about.html"{{{selectedClass "about"}}}>About</a></li>
            <li><a href="careers.html"{{{selectedClass "careers"}}}>Careers</a></li>
            <li><a href="contact.html"{{{selectedClass "contact"}}}>Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<section class="side-dots">
  <div class="container">
    <div class="grid-container">
      <div class="grid-40 prefix-5 suffix-10">
        <h1>Clients</h1>
        <p>Care Response clients come from all walks of life and are at many different stages within it. We appreciate that no one person is the same and that all care needs to be personalized to allow the client to live as normal and happy a life as possible. We strongly promote independence as the service offered to the clients is to facilitate their life at home.</p>
        <p>Care Response provide care for:</p>
        <ul class="dots">
          <li>Older people who need help in the morning or evening</li>
          <li>Those who need help with household chores</li>
          <li>People with disabilities, which prevent them from doing things entirely for themselves</li>
          <li>People with constant care needs who require help to ensure they can live at home</li>
          <li>Short-term care for people who need assistance after illness or an operation</li>
          <li>Palliative end of life care, for those wishing to stay in their own home</li>
          <li>People who have suffered a stroke</li>
          <li>Sufferers of parkinsons disease</li>
          <li>People with challenging behaviour who may put themselves or others at risk</li>
          <li>People who normally receive care from family members that require respite care</li>
          <li>Clients who would like to escape from the same four walls and go out for a couple of hours whether it be shopping, walking, for a pub lunch, or a trip to the seaside.</li>
        </ul>
      </div>
      <div class="grid-40 suffix-5">
        {{> box-testimonials }}
        {{> logo-caring-4u }}
      </div>
    </div><!--/.grid-container-->
    <div id="banner">
      <img src="img/banner-clients.jpg" />
    </div>
  </div><!--/.content-->
</section>

{{> footer }}
