---
title: Contact - Care Response
id: contact
---

{{> header }}

<div id="splash">
  <img src="img/proportionator.gif" alt="Splash">
  <nav class="sub">
    <div class="container">
      <div class="grid-container">
        <div class="grid-50 prefix-5 tablet-grid-55">
          <ul>
            <li><a href="#form"><i class="icon-angle-down"></i> Contact form</a></li>
            <li><a href="#map"><i class="icon-angle-down"></i> Location map</a></li>
          </ul>
        </div>
        <div class="grid-40 suffix-5 tablet-grid-45">
          <ul>
            <li><a href="about.html"{{{selectedClass "about"}}}>About</a></li>
            <li><a href="careers.html"{{{selectedClass "careers"}}}>Careers</a></li>
            <li><a href="contact.html"{{{selectedClass "contact"}}}>Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<section class="side-dots">
  <div class="container">
    <div class="grid-container">
      <div class="grid-45 prefix-5 suffix-5">
        <h1>Contact us</h1>
        <p>Care Response provide care seven days a week, 365 days a year and have an out of hours emergency contact number for all clients.</p>
      </div>
      <div class="grid-40 suffix-5">
        
      </div>
    </div><!--/.grid-container-->
  </div><!--/.content-->
</section>

<section id="sec-eq-ops" class="grey">
  <div class="container">
    <div class="grid-container">
      <div class="grid-40 prefix-5 suffix-5">
        <h1 id="form">Contact form</h1>
      </div>
      <div class="grid-40 prefix-5 suffix-5">
        
      </div>
    </div><!--/.grid-container-->
  </div><!--/.content-->
</section>

<section id="sec-map" class="side-dots">
  <div class="container">
    <div class="grid-container">
      <div class="grid-90 prefix-5 suffix-5">
        <h1 id="map">Location map</h1>
        <iframe width="100%" height="262" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=SL5+9NQ&amp;sll=51.48931,-0.08819&amp;sspn=0.577188,1.238708&amp;ie=UTF8&amp;hq=&amp;hnear=Sunninghill+SL5+9NQ,+United+Kingdom&amp;t=m&amp;ll=51.401348,-0.65609&amp;spn=0.014029,0.051498&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe><br /><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=SL5+9NQ&amp;sll=51.48931,-0.08819&amp;sspn=0.577188,1.238708&amp;ie=UTF8&amp;hq=&amp;hnear=Sunninghill+SL5+9NQ,+United+Kingdom&amp;t=m&amp;ll=51.401348,-0.65609&amp;spn=0.014029,0.051498&amp;z=14&amp;iwloc=A">View Larger Map</a>
      </div>
    </div><!--/.grid-container-->
  </div><!--/.content-->
</section>

{{> footer }}
