---
title: Contact - Care Response
id: contact
---

{{> header }}

<div id="splash">
  <img src="img/proportionator.gif" alt="Splash">
  <nav class="sub">
    <div class="container">
      <div class="grid-container">
        <div class="grid-50 prefix-5 tablet-grid-55">
          <ul>
            <li><a href="#form"><i class="icon-angle-down"></i> Contact form</a></li>
            <li><a href="#map"><i class="icon-angle-down"></i> Location map</a></li>
          </ul>
        </div>
        <div class="grid-40 suffix-5 tablet-grid-45">
          <ul>
            <li><a href="about.html"{{{selectedClass "about"}}}>About</a></li>
            <li><a href="careers.html"{{{selectedClass "careers"}}}>Careers</a></li>
            <li><a href="contact.html"{{{selectedClass "contact"}}}>Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<section class="side-dots">
  <div class="container">
    <div class="grid-container">
      <div class="grid-40 prefix-5">
        <h1>Contact us</h1>
        <p>Care Response provide care seven days a week, 365 days a year and have an out of hours emergency contact number for all clients.</p>
      </div>
    </div><!--/.grid-container-->
    <div class="grid-container vcard">
      <div class="grid-40 prefix-5 suffix-5">
        <h2>Office details</h2>
        <ul id="office-details" class="dots no-disc">
          <li>Office hours: <span>Monday to Friday: 08:30 - 16:30</span></li>
          <li>Telephone: <span class="tel">01344 876099</span></li>
          <li>Fax: <span>01344 876171</span></li>
          <li>
            Email address:
            <span><script>
              (function () {
                var TerRiShePoLuDRd=["101","x6e","x71","x75","105","114","105","x65","115","x40","99","97","114","101","114","x65","115","x70","x6f","x6e","115","x65","46","x63","x6f","46","x75","x6b"];
                var ptxjgCyjWvRUxjj=[""];
                var vooBvknQKypCONu=["101","x6e","113","x75","x69","x72","x69","x65","x73","64","x63","x61","x72","101","x72","101","x73","x70","x6f","110","115","x65","x2e","x63","111","46","x75","107"];
                document.write("<a class=\"email\" href=\"&#x6d;&#x61;&#x69;&#000108;&#x74;&#x6f;&#x3a;");
                for (i=0; i<TerRiShePoLuDRd.length; i++) document.write('&#'+TerRiShePoLuDRd[i]+';');
                for (i=0; i<ptxjgCyjWvRUxjj.length; i++) document.write(ptxjgCyjWvRUxjj[i]);
                document.write('" >');
                for (i=0; i<vooBvknQKypCONu.length; i++) document.write('&#'+vooBvknQKypCONu[i]+';');
                document.write('</a>');
              })();
            </script></span>
          </li>
        </ul>
      </div>
      <div class="grid-20 prefix-5">
        <h2>Address</h2>
        <ul class="dots no-disc adr">
          <li><span class="fn org">Care Response Ltd</span></li>
          <li class="street-address">5/7 High Street</li>
          <li class="locality">Sunninghill</li>
          <li class="region">Ascot</li>
          <li class="postal-code">SL5 9NQ</li>
          <li><a href="#map">View on map</a></li>
        </ul>
      </div>
      <div class="grid-25">
        {{> logo-caring-4u }}
      </div>
    </div><!--/.grid-container-->
  </div><!--/.content-->
</section>

<section id="sec-form" class="grey">
  <div class="container">
    <div class="grid-container">
      <div id="error" class="grid-90 prefix-5 suffix-5">
        An error occurred sending your message.
      </div>
      <div class="grid-90 prefix-5 suffix-5">
        <h1 id="form">Contact form</h1>
      </div>
      <form id="sent" class="validation-engine" method="post" action="contact-send.php">
        <div class="grid-40 prefix-5 suffix-5 target">
          Thanks, your message has been sent.
        </div>
        <div class="grid-40 prefix-5 suffix-5 no-target">
          <div class="field">
            <label for="forename">First name</label>
            <input type="text" name="forename" placeholder="First name" class="validate[required]"/>
          </div>
          <div class="field">
            <label for="surname">Surname</label>
            <input type="text" name="surname" placeholder="Surname" class="validate[required]"/>
          </div>
          <div class="field">
            <label for="tel">Phone number</label>
            <input type="tel" name="tel" placeholder="Phone number" class="validate[required]"/>
          </div>
          <div class="field">
            <label for="tel">Email address</label>
            <input type="email" name="email" placeholder="Email address" class="validate[required,custom[email]]"/>
          </div>
        </div>
        <div class="grid-35 prefix-5 suffix-10 no-target">
          <div class="field">
            <label for="msg">Message</label>
            <textarea name="msg" placeholder="Your message" class="validate[required]"></textarea>
          </div>
          <div class="field">
            <button type="submit"><i class="icon-chevron-right"></i> Send</button>
          </div>
        </div>
      </form>
    </div><!--/.grid-container-->
  </div><!--/.content-->
</section>

<section id="sec-map" class="side-dots">
  <div class="container">
    <div class="grid-container">
      <div class="grid-90 prefix-5 suffix-5">
        <h1 id="map">Location map</h1>
        <iframe width="100%" height="262" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=SL5+9NQ&amp;sll=51.48931,-0.08819&amp;sspn=0.577188,1.238708&amp;ie=UTF8&amp;hq=&amp;hnear=Sunninghill+SL5+9NQ,+United+Kingdom&amp;t=m&amp;ll=51.401348,-0.65609&amp;spn=0.014029,0.051498&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe><br /><a href="https://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=SL5+9NQ&amp;sll=51.48931,-0.08819&amp;sspn=0.577188,1.238708&amp;ie=UTF8&amp;hq=&amp;hnear=Sunninghill+SL5+9NQ,+United+Kingdom&amp;t=m&amp;ll=51.401348,-0.65609&amp;spn=0.014029,0.051498&amp;z=14&amp;iwloc=A"><i class="icon-external-link"></i> View Larger Map</a>
      </div>
    </div><!--/.grid-container-->
  </div><!--/.content-->
</section>

{{> footer }}
