---
title: Care Response
id: home
---

{{> header }}

<div id="splash">
  <img src="img/proportionator-home.gif" alt="Homepage splash">
  <div class="text">
    <div>
      <blockquote>
        Just a little note to say a big thank you for all your wonderful help over recent weeks. It has been much appreciated by Mum and Dad as well as the rest of the family.
        <footer>A.G.</footer>
      </blockquote>
    </div>
  </div><!--/.text-->
  <nav class="sub">
    <div>
      <ul>
        <li><a class="selected" href="#">About</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
</div><!--/#splash-->

<section>
  <div class="container">
    <div class="grid-container">
      <div class="grid-40 prefix-5 suffix-5">
        <article id="box-clients" class="box">
          <div>
            <h1>Comments from the families we help</h1>
            <ul>
              <li>
                <a href="#">
                  <img src="img/tmp/client-0.jpg" alt="Photo of C.S."/>
                  C.S.
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="img/tmp/client-1.jpg" alt="Photo of J.T."/>
                  J.T.
                </a>
              </li>
            </ul>
            <footer>
              <a href="#">View more about our clients <i class="icon-angle-right"></i></a>
            </footer>
          </div>
        </article>
      </div>
      <div class="grid-45 suffix-5">
        RHS
      </div>
    </div>
  </div>
</section>