---
title: Care Response
id: home
---

{{> header }}

<div id="splash">
  <img src="img/proportionator-home.gif" alt="Homepage splash">
  <div class="text">
    <blockquote>
      <cite></cite>
    </blockquote>
  </div>
  <nav class="sub">
    <div>
      <ul>
        <li><a href="#"><i class="icon-angle-down"></i> Care provision</a></li>
        <li><a href="#"><i class="icon-angle-down"></i> Care workers</a></li>
      </ul>
      <ul>
        <li><a class="selected" href="#">About</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>