---
title: Care Response
id: home
---

{{> header }}

<div class="splash">
  <img src="img/splash-home.jpg" alt="Homepage splash">
  <div class="text">
    <blockquote>
      <cite></cite>
    </blockquote>
  </div>
</div>