---
title: Care Response
id: home
---

{{> header }}

<div id="splash">
  <img src="img/proportionator-home.gif" alt="Homepage splash">
  <div class="text">
    <div>
      <blockquote>
        Just a little note to say a big thank you for all your wonderful help over recent weeks. It has been much appreciated by Mum and Dad as well as the rest of the family.
        <footer>A.G.</footer>
      </blockquote>
    </div>
  </div><!--/.text-->
  <nav class="sub">
    <div class="container">
      <div class="grid-container">
        <div class="grid-95 suffix-5">
          <ul>
            <li><a class="selected" href="#">About</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div><!--/#splash-->

<section class="side-dots">
  <div class="container">
    <div class="grid-container">
      <div class="grid-40 prefix-5 suffix-5">
        <article id="box-clients" class="box">
          <div>
            <h1>Comments from the families we help</h1>
            <ul>
              <li>
                <a href="#">
                  <img src="img/tmp/client-0.jpg" alt="Photo of C.S."/>
                  C.S.
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="img/tmp/client-1.jpg" alt="Photo of J.T."/>
                  J.T.
                </a>
              </li>
            </ul>
            <footer>
              <a href="#">View more about our clients <i class="icon-angle-right"></i></a>
            </footer>
          </div>
        </article>
        <article id="box-news" class="box grey">
          <div>
            <h1>News</h1>
            <ul>
              <li>
                <a href="#">Pampered in the comfort of your own home <i class="icon-angle-right"></i></a>
              </li>
              <li>
                <a href="#">Fund raising London to Paris cycle <i class="icon-angle-right"></i></a>
              </li>
            </ul>
          </div>
        </article>
      </div>
      <div class="grid-45 suffix-5">
        <h1>At Care Response, we provide high quality care for people who wish to maintain their independence and stay in their own home.</h1>
        <p>As well as working with private individuals, we also work alongside GPs, Social Services and Primary Care Trusts to provide a wide range of <a href="#">services</a>.</p>
        <p>If you think our services could be of help to you, a friend or a member of your family, then please <a href="#">contact us</a> and we will be happy to arrange for one of our Managers to meet and discuss your needs.</p>
      </div>
    </div>
  </div>
</section>

<section id="sec-area" class="grey">
  <div class="container">
    <div class="grid-container">
      <div class="grid-90 prefix-5 suffix-5">
        <h1>Areas covered</h1>
      </div>
    </div><!--/.grid-container-->
    <div class="grid-container">
      <div class="grid-40 prefix-5 suffix-5">
        <a href="#"><img class="map" src="img/map-area.png" alt="Map showing areas covered"/></a>
      </div>
      <div class="grid-45 suffix-5">
        <p>We are based in Sunninghill High Street near Ascot, and currently cover about a 10 mile radius.</p>
        <div class="grid-container grid-parent">
          <div class="grid-50">
            <ul class="dots blue no-style top-dots">
              <li>Ascot</li>
              <li>Bracknell</li>
              <li>Old Windsor</li>
              <li>Wraysbury</li>
              <li>Datchet</li>
            </ul>
          </div>
          <div class="grid-50">
            <ul class="dots blue no-style top-dots">
              <li>Egham</li>
              <li>Englefield Green</li>
              <li>Virginia Water</li>
              <li>Windlesham</li>
              <li>Bagshot</li>
            </ul>
          </div>
        </div>
      </div>
    </div><!--/.grid-container-->
  </div><!--/.content-->
</section>

{{> footer }}