---
title: News - Care Response
id: news
---

{{> header }}

<div id="splash">
  <img src="img/proportionator.gif" alt="Splash">
  <nav class="sub">
    <div class="container">
      <div class="grid-container">
        <div class="grid-40 prefix-55 suffix-5 tablet-grid-45">
          <ul>
            <li><a href="about.html"{{{selectedClass "about"}}}>About</a></li>
            <li><a href="careers.html"{{{selectedClass "careers"}}}>Careers</a></li>
            <li><a href="contact.html"{{{selectedClass "contact"}}}>Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<section class="side-dots">
  <div class="container">
    <div class="grid-container">
      <div class="grid-55 prefix-5 suffix-5">
        <article>
          <h1>News story title lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut suscipit sagittis arcu.</h1>
          <p><a href="#"><img src="http://placekitten.com/497/320"/></a></p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut suscipit sagittis arcu. Integer consectetuer mauris posuere arcu. Phasellus molestie sodales massa. Nam sed nisl. Mauris lacus tellus, laoreet at, dictum vitae, accumsan sit amet, lacus. Quisque scelerisque. Etiam ante nisi, laoreet in, viverra at, blandit facilisis, nisi. Suspendisse a arcu. Cras mollis ante. Nulla tempor justo non quam. Nullam quis ligula id nibh sagittis iaculis. Vestibulum mattis, felis et gravida vehicula, tortor dolor imperdiet pede, at blandit felis ante a urna. Curabitur augue. Suspendisse potenti. Donec semper. Mauris ac ante. Praesent eros.</p>
        </article>
      </div>
      <aside class="grid-30 suffix-5">
        {{> box-testimonials }}
        {{> logo-caring-4u }}
      </aside>
    </div><!--/.grid-container-->
  </div><!--/.content-->
</section>

{{> footer }}
