---
title: Care Response
id: services
---

{{> header }}

<div id="splash">
  <img src="img/proportionator.gif" alt="Splash">
  <div class="text">
    <div class="container">
      <div class="grid-container">
        <div class="grid-30 prefix-65  suffix-5">
          <blockquote>
            My Mum looked forward to your visits, it was a chance to talk to other women and have a laugh.
            <footer>C.S.</footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div><!--/.text-->
  <nav class="sub">
    <div class="container">
      <div class="grid-container">
        <div class="grid-60 prefix-5">
          <ul>
            <li><a href="#"><i class="icon-angle-down"></i> Care provision</a></li>
            <li><a href="#"><i class="icon-angle-down"></i> Care workers</a></li>
          </ul>
        </div>
        <div class="grid-30 suffix-5">
          <ul>
            <li><a class="selected" href="#">About</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>