---
title: Care Response
id: services
---

{{> header }}

<div id="splash">
  <img src="img/proportionator.gif" alt="Splash">
  <div class="text">
    <blockquote>
      <cite></cite>
    </blockquote>
  </div>
  <nav class="sub">
    <div class="container">
      <div class="grid-container">
        <div class="grid-60 prefix-5">
          <ul>
            <li><a href="#"><i class="icon-angle-down"></i> Care provision</a></li>
            <li><a href="#"><i class="icon-angle-down"></i> Care workers</a></li>
          </ul>
        </div>
        <div class="grid-30 suffix-5">
          <ul>
            <li><a class="selected" href="#">About</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>