---
title: Testimonials - Care Response
id: testimonials
---

{{> header }}

<div id="splash">
  <img src="img/proportionator.gif" alt="Splash">
  <nav class="sub">
    <div class="container">
      <div class="grid-container">
        <div class="grid-40 prefix-55 suffix-5 tablet-grid-45">
          <ul>
            <li><a href="about.html"{{{selectedClass "about"}}}>About</a></li>
            <li><a href="careers.html"{{{selectedClass "careers"}}}>Careers</a></li>
            <li><a href="contact.html"{{{selectedClass "contact"}}}>Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<section class="side-dots">
  <div class="container">
    <div class="grid-container">
      <div class="grid-55 prefix-5 suffix-5">
        <h1>Testimonials</h1>
        <p>Care Response has kept every thank you card received since we began in 1994. Below are a range from the testimonials kept in the office. They are a touching reminder of the many people Care Response has provided much needed care for.</p>
        <blockquote>
          Care Response offers a flexible and well organised domiciliary care service. The Registered Provider has a very hands on approach and is closely involved, with the Registered Manager, in a day to day running of the business. Care Response care that staff and clients are happy within their work and care.
          <footer>H. D. (Care Quality Commission Inspector)<br/>Care Response Key Inspection Repo</footer>
        </blockquote>
        <blockquote>
          Thank you so much for the very beautiful bouquet of flowers. I was so moved that you had been so kind and generous. I will miss all my colleagues and friends, of which Care Response are included. I have always held you in the highest regard as a very principled and trustworthy care provider, Avis you have my utmost respect.
          <footer>L.K.<br/>2011</footer>
        </blockquote>
        <blockquote>
          To Hege, Many thanks for all your help and kindness. With love from J.J.K. x
          <footer>J.J.K.<br/>2012 Client thank you card</footer>
        </blockquote>
        <blockquote>
          Dear Hege, Just a little note to say a big thank you for all your wonderful help over recent weeks. It has been much appreciated by Mum and Dad as well as the rest of the family. You are very kind and caring. Dad needs 24 hour care when he comes out of hospital, so we have had to arrange for a live-in carer, to manage his convalescence. Do pop in anytime! Hope to see you again sometime. With love and best wishes from M.W. x
          <footer>M. W.<br/>2012 Client thank you card</footer>
        </blockquote>
        <blockquote>
          We would like to express our grateful thanks to the care team who looked after Mum. While being professional she also felt they were her friends &amp; use to call them 'my girls'! we are so glad she was able to be in her home until her last few days. Thank you again very sincerely.
          <footer>R.J.</footer>
        </blockquote>
      </div>
      <aside class="grid-30 suffix-5">
        <article id="box-news" class="box grey">
          <div>
            <h1>News <i class="icon-rss"></i></h1>
            <ul>
              <li>
                <h2>News story title lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut suscipit sagittis.</h2>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut suscipit sagittis arcu. Integer consectetuer mauris posuere arcu. Phasellus molestie sodales massa. Nam sed nisl... <a href="#">More</a>
              </li>
              <li>
                <h2>News story title lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut suscipit sagittis.</h2>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut suscipit sagittis arcu. Integer consectetuer mauris posuere arcu. Phasellus molestie sodales massa. Nam sed nisl... <a href="#">More</a>
              </li>
            </ul>
            <a href="testimonials.html">View all news stories</a>
          </div>
        </article>
        {{> logo-caring-4u }}
      </aside>
    </div><!--/.grid-container-->
  </div><!--/.content-->
</section>

{{> footer }}
