---
title: Testimonials - Care Response
id: testimonials
---

{{> header }}

<div id="splash">
  <img src="img/proportionator.gif" alt="Splash">
  <nav class="sub">
    <div class="container">
      <div class="grid-container">
        <div class="grid-40 prefix-55 suffix-5 tablet-grid-45">
          <ul>
            <li><a href="about.html"{{{selectedClass "about"}}}>About</a></li>
            <li><a href="careers.html"{{{selectedClass "careers"}}}>Careers</a></li>
            <li><a href="contact.html"{{{selectedClass "contact"}}}>Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<section class="side-dots">
  <div class="container">
    <div class="grid-container">
      <div class="grid-40 prefix-5 suffix-10">
        <h1>Testimonials</h1>
        <p>Care Response has kept every thank you card received since we began in 1994. Below are a range from the testimonials kept in the office. They are a touching reminder of the many people Care Response has provided much needed care for.</p>
        <blockquote>
          <footer></footer>
        </blockquote>
        <blockquote>
          <footer></footer>
        </blockquote>
        <blockquote>
          <footer></footer>
        </blockquote>
        <blockquote>
          <footer></footer>
        </blockquote>
        <blockquote>
          <footer></footer>
        </blockquote>
      </div>
      <div class="grid-40 suffix-5">
        <article id="box-news" class="box grey">
          <div>
            <h1>News <i class="icon-rss"></i></h1>
            <ul>
              <li></li>
            </ul>
            <a href="testimonials.html">View all news stories</a>
          </div>
        </article>
        {{> logo-caring-4u }}
      </div>
    </div><!--/.grid-container-->
  </div><!--/.content-->
</section>

{{> footer }}
