<article id="box-testimonials" class="box grey">
  <div>
    <h1>Testimonials <i class="icon-comment-alt"></i></h1>
    <blockquote>
      Dear Olivia, this is to thank you and the team of carers who looked after Mum so well in the last few weeks of her life. Please will you convey our gratitude to them all...
      <footer>M.H.<br/>2011</footer>
    </blockquote>
    <blockquote>
      A very big thank you from myself and family to all the carers who helped look after my husband. Without them we couldn't fulfill his wish, and mine, for him to live in his own...
      <footer>M.S.<br/>2009</footer>
    </blockquote>
    <blockquote>
      To Hege, Many thanks for all your help and kindness. With love from J. J. K. x
      <footer>J.J.K.<br/>2012 Client thank you card</footer>
    </blockquote>
    <a href="testimonials.html">View all our testimonials</a>
  </div>
</article>