<article id="box-testimonials" class="box grey">
  <div>
    <h1>Testimonials <i class="icon-comment-alt"></i></h1>
    <blockquote>
      Care Response offers a flexible and well organised domiciliary care service. The Registered Provider has a very hands on approach and is closely involved, with the Registered Manager, in a day to day running of the business. Care Response care that staff and clients are happy within their work and care.
      <footer>
        H.D. (Care Quality Commission Inspector)<br/>
        Care Response Key Inspection Report
      </footer>
    </blockquote>
    <blockquote>
      Thank you so much for the very beautiful bouquet of flowers. I was so moved that you had been so kind and generous. I will miss all my colleagues and friends, of which Care Response are included. I have always held you in the highest regard as a very principled and trustworthy care provider, Avis you have my utmost respect.
      <footer>L.K.<br/>2011</footer>
    </blockquote>
    <a href="testimonials.html">View all our testimonials</a>
  </div>
</article>