<article id="box-testimonials" class="box grey">
  <div>
    <h1>Testimonials <i class="icon-comment-alt"></i></h1>
    <blockquote>
      Thank you so much for all of the help and support your team have given Malcolm and I over the past few months. All of the girls treated Malcolm with respect, were very kind to him and also to me.
      <footer>K.M.<br/>2010</footer>
    </blockquote>
    <blockquote>
      &quot;Dear Avis and all at Care Response. An enormous thank you for the wonderful care you provided for my husband. We could not have asked for better. He so enjoyed the morning vi...&quot;
      <footer>A.E.<br/>2009</footer>
    </blockquote>
    <a href="testimonials.html">View all our testimonials</a>
  </div>
</article>