<header id="hd" class="vcard">
  <div>
    <a href="index.html" title="Go to Homepage" class="logo"><span class="fn org visuallyhidden">Care Response</span></a>
    <span id="strapline">Where there is a need for care - we will respond</span>
    <nav>
      <ul>
        <li><a{{{selectedClass "services"}}} href="services.html">Services</a></li>
        <li><a{{{selectedClass "clients"}}} href="clients.html">Clients</a></li>
        <li><a{{{selectedClass "testimonials"}}} href="testimonials.html">Testimonials</a></li>
        <li><a{{{selectedClass "news"}}} href="news.html">News</a></li>
      </ul>
    </nav>
    <div class="contact">
      <a href="tel:01344876099" class="tel">01344 876099</a>
      <a href="mailto:info@careresponse.co.uk" class="email"><i class="icon-envelope-alt"></i><span class="visuallyhidden">info@careresponse.co.uk</span></a>
    </div>
  </div>
</header>