#hd {
  max-width: 73.846em;
  margin: 3.077em auto 1em;
  
  .logo {
    margin-left: 2em;
  }
}
#splash {
  .text {
    blockquote {
      width: 36%;
    }
  }
}
#ft {
  ul {
    margin: 0;
  }
}
#home {
  #box-clients {
    margin-top: -9em;
  }
}