#hd {
  margin: 0 0 1em 0;
  
  > div {
    margin: 0 0.769em;
  }
  .logo {
    display: block;
    width: 6.615em;
    height: 6.615em;
    margin: 1.538em auto;
    background: url(../img/logo-care-response@2x.png);
    background-size: 100% 100%;
    
    .no-backgroundsize & {
      background-image: url(../img/logo-care-response.png);
    }
  }
  #strapline {
    .alleritalic;
    font-size: 1.846em;
    color: @blue0;
  }
  nav {
    ul {
      margin: 1.308em 0;
      padding: 0;
    }
    li {
      a {
        font-size: 1.077em;
        color: @black0;
        
        &.selected {
          color: @blue0;
        }
      }
    }
  }
  .contact {
    
    .tel {
      .alleritalic;
      font-size: 1.846em;
      color: @black0;
    }
    .email {
      font-size: 1.692em;
      margin-left: 0.5em;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
}
#splash {
  position: relative;
  overflow: hidden;
  
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 1em @black0;
    pointer-events: none;
    z-index: 1;
    
    .no-pointerevents & {
      display: none;
    }
  }
  img {
    width: 100%;
  }
  nav {
    background: @blue0;
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 1em @black0;
    
    > div {
      margin: 1em 0;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    a {
      font-size: 1.077em;
      color: #fff;
      
      &.selected, &:hover {
        color: @black0;
        text-decoration: none;
      } 
    }
  }
}
#ft {
  padding: 3.846em 0;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    border-bottom: 1px dotted @grey2;
    
    &:first-child {
      border-top: 1px dotted @grey2;
    }
    a {
      display: block;
      padding: 0.333em 0;
      color: @grey2;
      
      &.selected {
        color: @blue0;
      }
    }
  }
  .links {
    small {
      font-size: 1em;
      display: block;
      margin: 1em 0;
    }
  }
}
section {
  padding: 3.846em 0;
  
  &.grey {
    background: @grey3;
    box-shadow: 0 0 0.75em @grey0;
  }
}

.box {
  margin: 3.462em 0;
  padding: 0.769em 0;
  border-radius: 0.308em;
  box-shadow: 0 0.25em 0.25em @grey0;
  
  &:first-child {
    margin-top: 0;
  }
  > div {
    margin: 0 1.538em;
  }
  &.grey {
    background: @grey3;
  }
  h1 {
    font-size: 1.078em;
    border-bottom: 1px dotted @grey2;
  }
}

#home {
  #splash {
    background: url(../img/splash-home.jpg) no-repeat 0 0;
    background-size: 100% 100%;
  }
  #box-clients {
    background: #7f7f7f;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    margin-top: -9em;
    padding-top: 2.308em;
    position: relative;
    z-index: 1;
    
    h1 {
      .alleritalic;
      font-size: 1.231em;
      font-weight: normal;
      color: #fff;
      margin-bottom: 1.875em;
      border-bottom: 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      display: inline-block;
      
      &:first-child {
        margin-right: 2em;
      }
    }
    a {
      display: inline-block;
      color: #fff;
    }
    img {
      display: block;
      box-shadow: 0 0 0.25em @grey1;
    }
    footer {
      border-top: 1px dotted @grey0;
      padding-top: 0.462em;
      text-align: right;
    }
  }
  #box-news {
    h1 {
      margin-bottom: 0;
    }
    ul {
      list-style-type: none;
      margin-top: 0;
      padding: 0;
    }
    li {
      a {
        display: block;
        color: @grey2;
        padding: 1em 2em 1em 0;
        border-bottom: 1px dotted @grey2;
        position: relative;
        
        &:hover {
          color: @blue0;
          text-decoration: none;
        }
        i {
          float: right;
          color: @blue0;
          position: absolute;
          top: 36%;
          right: 1em;
        }
      }
    }
  }
}