@font-face {
  font-family: 'allerbold';
  src: url('../font/aller_bd.eot');
  src: url('../font/aller_bd.eot?#iefix') format('embedded-opentype'),
       url('../font/aller_bd.woff') format('woff'),
       url('../font/aller_bd.svg#allerbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alleritalic';
  src: url('../font/aller_it.eot');
  src: url('../font/aller_it.eot?#iefix') format('embedded-opentype'),
       url('../font/aller_it.woff') format('woff'),
       url('../font/aller_it.svg#alleritalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'allerregular';
  src: url('../font/aller_rg.eot');
  src: url('../font/aller_rg.eot?#iefix') format('embedded-opentype'),
       url('../font/aller_rg.woff') format('woff'),
       url('../font/aller_rg.svg#allerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: allerregular, Arial, sans-serif;
}