#hd {
  margin: 3.077em 0 1em 0;
  
  > div {
    position: relative; // for .contact
  }
  .logo {
    float: left;
    margin: -1.538em 3.846em 1.538em 0;
  }
  #strapline {
    font-size: 1.846em;
  }
  nav li {
    display: inline-block;
    margin: 0 0 0 6.923em;
    
    &:first-child {
      margin-left: 0;
    }
    a {
      position: relative;
      
      &:hover {
        text-decoration: none;
      }
      &.selected:after, &:hover:after {
        font-family: FontAwesome;
        text-align: center;
        display: block;
        position: absolute;
        width: 100%;
        bottom: -1em;
        content: "\f0d7";
      }
    }
  }
  .contact {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    
    .tel {
      display: block;
      margin-bottom: 0.333em;
    }
  }
}
#splash {
  background: @grey3 url(../img/splash-default.jpg) no-repeat 0 0;
  background-size: 100% 100%;
  
  img {
    display: block;
    width: 100%;
  }
  nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 1em @black0;
    padding: 0;
    
    > .container {
      max-width: 73.846em;
    }
    li {
      display: inline;
      margin: 0 3.077em 0 0;
    }
  }
  .text {
    display: block;
    position: absolute;
    width: 100%;
    top: 2.308em;
    
    > .container {
      max-width: 73.846em;
      margin: 0 auto;
    }
    blockquote {
      font-size: 1.538em;
      color: #fff;
      text-shadow: 0 0.05em 0.133em #000;
      margin: 0;
      padding: 0;
      
      footer {
        font-size: 0.600em;
      }
    }
  }
}
#ft {
  > div {
    max-width: 73.846em;
    margin: 0 auto;
  }
  .links {
    text-align: right;
    
    img {
      margin: 0 0 0 1em;
    }
  }
}

section {
  &.grey {
    position: relative; // Bring above ".dots"
  }
  > .container {
    max-width: 73.846em;
    margin: 0 auto;
  }
}

.side-dots {
  background-image: url(../img/bg-dots.gif), url(../img/bg-dots.gif);
  background-repeat: repeat-y, repeat-y;
  background-position: bottom left, bottom right;
}

#home {
  #splash {
    background-image: url(../img/splash-home.jpg);
    
    .text {
      blockquote {
        color: @blue0;
        text-shadow: none;
        
        footer {
          color: @black0;
        }
      }
    }
  }
}
#services {
  #splash {
    background-image: url(../img/splash-services.jpg);
  }
}
#clients {
  #splash {
    background-image: url(../img/splash-clients.jpg);
  }
}
#testimonials {
  #splash {
    background-image: url(../img/splash-testimonials.jpg);
  }
}
#news {
  #splash {
    background-image: url(../img/splash-news.jpg);
  }
}
#about {
  #splash {
    background-image: url(../img/splash-about.jpg);
  }
}
#careers {
  #splash {
    background-image: url(../img/splash-careers.jpg);
  }
}
#contact {
  #splash {
    background-image: url(../img/splash-contact.jpg);
  }
}